:root {
  --white: #fff;
  --blur-white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic-dark: #42413c;
  --dark: #2a2626;
  --blur-dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}
@font-face {
  font-family: "Open Sans";
  src: url(/fonts/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
  color: red;
}
@font-face {
  font-family: "Neucha";
  src: url(/fonts/Neucha/Neucha-Regular.ttf);
}
body,
p {
  font-family: "Open Sans";
  size: 16px;
  font-weight: normal;
  line-height: 1.6em;
  color: var(--dark);
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4 {
  font-family: "Neucha";
  line-height: 1.2em;
  margin: 0;
  font-weight: normal;
}
h1 {
  font-size: 72px;
}
h2 {
  font-size: 60px;
}
h3 {
  font-size: 34px;
}
h4 {
  font-style: 24px;
}
li {
  list-style: none;
}

/* section div {
  width: 1110px;
  margin-top: 100px;
  margin-bottom: 100px;
}
section {
  position: relative;
  display: flex;
  justify-content: center;
}


.header-content {
  display: flex;
  flex-direction: column;
  position: relative;
}

.header-content h1 {
  position: absolute;
  top: 0;
  left: 0;
}
.header-content img {
  position: relative;
  top: -55px;
  right: -270px;
}
span {
  color: var(--basic);
}

.text-block {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}
.text-item {
  width: 540px;
}
button {
  width: 148px;
  padding: 12px 24px 12px 24px;
  position: relative;
  left: 570px;
  background-color: var(--basic);
  margin-top: 40px;
}
button a {
  font-family: "Open Sans";
  size: 16px;
  font-weight: bold;
  line-height: 1.6em;
  color: var(--white);
  margin: 0;
  padding: 0;
  text-decoration: none;
  text-transform: uppercase;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 100px;
}
main h2 {
  text-align: center;
}
main p {
  margin-top: 27px;
  margin-bottom: 30px;
}
main iframe {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}
nav {
  display: flex;
  background-color: var(--basic-dark);
  justify-content: center;
}
.navigation {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 1110px;
  margin-top: 200px;
  margin-bottom: 100px;
  height: 100%;
}
.navigation h2 {
  color: var(--white);
  font-weight: normal;
  font-size: 52px;
  flex-basis: 350px;
}
.nav-item {
  flex-basis: 302px;
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  padding: 24px;
}
.nav-item h3 {
  color: var(--basic);
  margin-bottom: 16px;
}
.number {
  font-family: "Neucha";
  font-size: 64px;
  margin-bottom: 40px;
  line-height: 1;
}
.mt-20 {
  margin-top: 20px;
} */
/* OOCSS styles */
section::before {
  content: "";
  background-image: url(./img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--blur-dark);
  opacity: 0.1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 500;
}

section {
  background-color: var(--light);
  position: relative;
}
.container {
  padding-top: 100px;
  padding-bottom: 100px;
  max-width: 1110px;
  margin: 0 auto;
}
.flex {
  display: flex;
}
.wrap {
  flex-wrap: wrap;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.space-between {
  justify-content: space-between;
}
.basis-540 {
  flex-basis: 540px;
}
.basis-500 {
  flex-basis: 500px;
}
.relative {
  position: relative;
}
.z-1000 {
  z-index: 1000;
}
.absolute {
  position: absolute;
}
.middle {
  vertical-align: middle;
}
.border {
  border: 1px solid red;
}
.mb-30 {
  margin-bottom: 30px;
}
.ml-30 {
  margin-left: 30px;
}
.mb-20 {
  margin-bottom: 20px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-16 {
  margin-top: 16px;
}

.py-5 {
  padding: 5px 0 5px 0;
}

.p-left-10 {
  padding-left: 10px;
}
.pt-0 {
  padding-top: 0;
}
.border-0 {
  border: 0;
}
.mr-30 {
  margin-right: 30px;
}
.mt-9 {
  margin-top: 9px;
}
.mt-60 {
  margin-top: 60px;
}
.p-55 {
  padding: 55px;
}
.p-15 {
  padding: 15px;
}
.fs-14 {
  font-size: 14px;
}
.fs-12 {
  font-size: 12px;
}
.h-50 {
  height: 50px;
}
.open-sans {
  font-family: "Open Sans";
}
.bold {
  font-weight: 700;
}
.uppercase {
  text-transform: uppercase;
}
.color-blur-white {
  color: var(--blur-white);
}
.color-blue {
  color: var(--blue);
}
.color-white {
  color: var(--white);
}
.color-blur-dark {
  color: var(--blur-dark);
}
.color-brown {
  color: var(--brown);
}
.color-orange {
  color: var(--basic);
}
.bg-orange {
  background-color: var(--basic);
}
.bg-brown {
  background-color: var(--brown);
}
.bg-white {
  background-color: var(--white);
}
.bg-basic-dark {
  background-color: var(--basic-dark);
}
.shadow {
  box-shadow: 0px 16px 32px 0px rgba(0, 0, 0, 0.15);
}
textarea {
  resize: none;
}
.svg {
  width: 20px;
  height: 20px;
}
.btn {
  width: 70px;
  height: 50px;
  text-align: center;
  border: 0;
  padding: 0;
}
.border-box {
  box-sizing: border-box;
}
input {
  width: 100%;
}
.flex-grow-1 {
  flex-grow: 1;
}
